<!DOCTYPE html>
{% extends "index.html" %}

{% block content %}

<!--<table class="table table-bordered" id="dataTable" width="80%" cellspacing="0">-->
<!--  <thead>-->
<!--    <tr>-->
<!--      <th>File name</th>-->
<!--      <th>Original</th>-->
<!--      <th>Category</th>-->
<!--      <th>Date</th>-->
<!--      <th>Name</th>-->
<!--      <th>Last Name</th>-->
<!--      <th>Company</th>-->
<!--      <th>Phone</th>-->
<!--    </tr>-->
<!--  </thead>-->
<!--  <tbody>-->
<!--    {% for file in files_data %}-->
<!--      <tr>-->
<!--        <th>{{file.data}}</th>-->
<!--        <th><a href='{{ MEDIA_URL }}{{ file.relative_path }}'>{{ file.file }}</a></th>-->
<!--        <th>{{file.data.category}}</th>-->
<!--        <th>{{file.data.value}}</th>-->
<!--        <th>{{file.data.contact.cont_fname}}</th>-->
<!--        <th>{{file.data.contact.cont_lname}}</th>-->
<!--        <th>{{file.data.contact.cont_company}}</th>-->
<!--        <th>{{file.data.contact.cont_phone}}</th>-->
<!--      </tr>-->
<!--      {% endfor %}-->

<!--  </tbody>-->

<div class="container-fluid">



  <form method="post" action="." id="form_id" enctype="multipart/form-data">{% csrf_token %}

    <div class="form-group row" align="right">
      <label class="col-form-label col-sm-4">Description</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name='title'>
      </div>
    </div>

    <div class="form-group row" align="right">
      <label class="col-form-label col-sm-4">Date</label>
      <div class="col-sm-5">
          <input type="date" class="form-control" name='date_in'>
      </div>
    </div>

    <div class="form-group row" align="right">
      <label class="col-form-label col-sm-4" for="contacts">Contact:</label>
      <div class="col-sm-5">

            <select id="contacts" class="form-control" name="contact_in" >
              {% for contact in files_contacts %}
                <option value={{contact.id}}>{{contact.cont_fname}} {{contact.cont_lname}}</option>
                {% endfor %}
            </select>
      </div>
    </div>
  <div class="form-group row" align="right">
    <label class="col-form-label col-sm-4" for="categories">Category</label>
      <div class="col-sm-5">
            <select id="categories" class="form-control" name="categories_in">
              {% for tag in files_tags %}
                <option value={{tag.id}}>{{tag.categories}}</option>
                {% endfor %}
            </select>
      </div>
    </div>

    <div class="form-group row" align="right">
      <label class="col-form-label col-sm-4">Files</label>
      <div class="col-sm-5 ml-3" style="text-align: left;">
        <input type="file" class="custom-file-input" id="id_file" name="file" accept=".pdf" required>
        <label class="custom-file-label file" for="id_file" data-browse="Browse">{{file_name}}</label>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-5 py-2 submit">
          <button type="submit" class="btn btn-primary" value="add_file">Add File</button>
      </div>
    </div>

    <!-- handle display file name -->
    <script>

        $('#id_file').on('change',function(){
            var file_name = $(this).val().pop();
            $('.file').html(file_name);
        })
    </script>

    <div class="form-group row">
      <div class="offset-sm-4 pt-5">
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                    {{ message }}
              </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </form>
</div>

{% endblock content %}